body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.head {
    color: blue;
    text-align: center;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.sample
{
 width:580px; 
 height:400px ;  
}

.image {
    width:580px;
    height:400px;
}